* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'futura';
}

.title {
  text-align: center;
  padding-left: 7px;
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: 600;
  line-height: 1.6;
}

.date {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  list-style-type: none;
  padding-top: 5px;
  padding-right: 30px;
  cursor: pointer;
  color: #000;
  font-size: 18px;
}

.main-nav-active {
  color: #C13725;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a:hover {
  text-decoration: none;
}

img.logo {
  width: 105px;
}

img {
  width: 100%;
  height: auto;
}

img.profile {
  width: 300px;
  height: 300px;
  margin-left: 130px;
  margin-top: 45px;
}

header {
  height: 120px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

.header-serverless-guru {
  font-weight: 600;
}

.main-page-heading {
  padding-top: 20px;
}

.vids {
  margin-top: 20px;
  margin-bottom: 30px;
}
